@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:root {
  --weniv--color: #2f80ed;
  --body--color: #767676;
  --title-color: #000000;
}
* {
  font-family: "SpoqaHanSansNeo-Regular";
}

article {
  position: relative;
  width: 500px;
  height: 240px;
  top: 360px;
  left: 710px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article img {
  width: 122px;
  height: 24px;
}

article p {
  line-height: 20.03px;
  font-size: 16px;
  font-weight: 400;
  color: var(--title-color);
  margin: 28px 0 32px 0;
}

article button {
  background-color: var(--weniv--color);
  border-radius: 5px;
  padding: 15px 190px;
  border: none;
  color: white;
  font-size: 22px;
  line-height: 27.54px;
  font-weight: 700;
}
