// 문제 : 화면 크기와 방향을 모두 고려하는 미디어 쿼리 믹스인을 만들고, 이를 사용하여
//.responsive-element 클래스에 다양한 스타일을 적용하세요.
//미디어 쿼리의 조건 식에 사용되는 속성은 min-width, max-width, orientation 입니다.

@mixin responsive-styles($minw, $maxw, $ori) {
  min-width: $minw;
  max-width: $maxw;
  orientation: $ori;
  @content;
}

.responsive-element {
  font-size: 16px;
  @include responsive-styles(600px, 900px, landscape) {
    font-size: 18px;
  }
}
