@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
body {
  padding: 240px 360px 260px;
}
.main {
  justify-content: center;
  display: grid;
  grid-template-areas:
    "a b"
    "a c";
  gap: 20px;
}

* {
  font-family: "SpoqaHanSansNeo-Regular";
}

.item1 {
  grid-area: a;
  margin-right: 102px;
}

.item2 {
  grid-area: b;
  width: 486px;
  height: 280px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/Rectangle\ 2.png);
  position: relative;
}

.item3 {
  width: 486px;
  height: 280px;

  grid-area: c;
  border-radius: 20px;
  background-image: url(./images/Rectangle\ 3.png);
  position: relative;
}

.item2 h2,
.item3 h2 {
  color: #fff;
  font-size: 30px;
  line-height: 37.56px;
  font-weight: 700;
  position: absolute;
  left: 40px;
  top: 40px;
}
.item2 p,
.item3 p {
  color: #fff;
  font-size: 16px;
  line-height: 20.03px;
  font-weight: 400;
  position: absolute;
  left: 373px;
  top: 230px;
}
.item2 p::after,
.item3 p::after {
  content: ">";
  margin-left: 4px;
}

.item1 p:nth-child(2) {
  font-size: 70px;
  font-weight: 400;
  line-height: 87.64px;
  color: #121314;
}

.item1 p:nth-child(2) strong {
  font-weight: 700;
}
.item1 p:nth-child(3) {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #47494d;
  margin-top: 20px;
}
.item1 p:nth-child(3) span {
  font-weight: 400;
  width: 100%;
  height: auto;
  max-height: 300px;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .main {
    display: grid;
    grid-template-areas:
      "a a"
      "b c";
  }

  .item2,
  .item3 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main {
    justify-content: center;
    display: grid;
    grid-template-areas:
      "a "
      "b "
      "c";
  }
}
