@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 1.6rem;
  font-weight: normal;
  color: #121314;
}

.container {
  width: 120rem;
  gap: 10.2rem;
  display: flex;
  margin: 24rem auto;
  max-width: calc(100% - 6rem);
}

strong {
  font-weight: 700;
}
.text_area h1 {
  font-size: 7rem;
  line-height: 8.7rem;
  margin-bottom: 2rem;
  word-break: keep-all;
}

.text_area span {
  color: #47494d;
  font-size: 2rem;
  line-height: 3rem;
}

.banner_area {
  flex-basis: 40.5%;
  flex-shrink: 0;
}

.banner_area ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.banner_area ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15.2rem;
  width: 100%;
  height: 100%;
  padding: 4rem 3rem 3rem 4rem;
  color: #fff;
  box-sizing: border-box;
  border-radius: 2rem;
}

.banner_01 {
  background-image: url(./images/Rectangle\ 2.png);
}
.banner_02 {
  background-image: url(./images/Rectangle\ 3.png);
}

.text_title {
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: 700;
}

.text_go {
  font-size: 1.6rem;
  line-height: 2em;
  font-weight: 400;
  text-align: right;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .banner_area ul {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 390px) {
  .container {
    flex-direction: column;
  }
  .banner_area ul {
    flex-direction: column;
  }
}
